.skills{
    padding-left: 150px;
    margin-top: 60px;

}
.skills hr{
    color: blue;
    width:500px;
    margin: 10px auto;
    
}

.skills h2{
    font-weight: bold;
    color: rgba(0, 128, 51, 0.753);
}

.skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px; /* Adjust the gap between items */
    margin: 0;
    padding: 0;
}

.skillList .card {
    flex: 1 1 200px; /* Adjusts the basis and allows flex-grow */
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skillList .card:hover{
    background-color: #138781;
    color: white;
    border: none;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

.skill .skill-icon{
    font-size: 2rem;
    margin-right: 10px;
}



/* Media styling for responsive design */
@media (max-width: 767px) {
    .skillList .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-left: 150px;
    }
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .container.skills {
        margin-left: 200px; /* Adjust for smaller sidebar */
    }
}

@media (max-width: 991px) {
    .container.skills {
        margin-left: 100px; /* Adjust for smaller devices */
    }
}

@media (max-width: 767px) {
    .container.skills {
        margin-left: 20px; /* Adjust for mobile devices */
    }

    .skillList .col-md-3 {
        flex: 0 0 50%;
        max-width: 10%;
        margin-left: 150px;
    }
}

@media (max-width: 575px) {
    .skillList .col-md-3 {
        flex: 0 0 100%;
        max-width: 70%;
        margin-left: 150px;
    }
}