.home-container{
    height: 300px;
    color: white;
    padding-left: 150px;
    
}
.home-content h2{
    padding: 10px;
    padding-top: 80px;
    color: white;
    
}
.home-content h1{
    color:rgb(0, 217, 255);
    /* margin-left: 150px; */
    padding: 5px;
}
.home-buttons{
   margin-top: 20px;
}

.home-buttons .btn-hire{
    background-color: #3b8ff3;
    color: white;
    width: 150px;

}

.home-buttons .btn-hire:hover {
    background-color: palegreen;
    color: rgb(0, 85, 128);
    width: 180px;
    transition: 1s;
    
}

.home-buttons .btn-cv{
    background-color: #f29f67;
    color: white;
    width: 150px;
    margin-left: 10px;

}

.home-buttons .btn-cv:hover{
    opacity: 80%;
    transition: 1s;
}

.theme-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color:#1e1e1e;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;

}



@media (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    .home-header h1 {
        font-size: 1.5rem;
    }

    .home-content p {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets and small desktops */
    .home-header h1 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1025px) {
    /* Styles for large desktops */
    .home-header h1 {
        font-size: 2.5rem;
    }

    .home-content p {
        font-size: 1.4rem;
    }
}